body{
    background-color: #DEB887;
}

fieldset{
	width: 30%;
}

#change{
	font-weight: bold;
	padding-left: 46%;
	color: green;
}

#show_results{
	display: block;
	margin: 0 auto;
}

footer{
	border-style: solid;
	background-color: #DEB887;
	text-align: center;
	margin-top: 15px;
}

iframe{
    float: left;
    padding-left: 5%;
	padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

form{
    margin: 0 auto;
    padding-bottom: 5%;
}