body{
   /* background-color: #77DBB8;*/
	font-family: 'Montserrat', sans-serif;
	padding-left: 2%;
	padding-right: 2%;
	display: flex;
	flex-direction: column;
	
background: linear-gradient(#ffffff 50%, rgba(255,255,255,0) 0) 0 0,
radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255,255,255,0) 0) 0 0,
radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255,255,255,0) 0) 55px 0 #48B;
background-size: 110px 200px;
background-repeat: repeat-x;
}

header{
	/*border-style: solid;*/
	background-color: transparent;
	margin-bottom: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
}

main p{
	text-indent: 50px;
	background-color: transparent;
	font-weight: bold;
	padding-left: .5%;
	padding-right: .5%;
}

form{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	margin-left: 610px;
	margin-right: 700px;
	margin-bottom: 15px;
}

footer{
	background-color: transparent;
	text-align: center;
}


iframe{
    float: left;
    padding-left: 5%;
	padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

form{
    margin: 0 auto;
    padding-bottom: 5%;
}